body {
  font-family: 'Poppins', sans-serif;
  color: #193154;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #47dbc3;
}

h1 {
  font-size: 24px;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-container {
  flex-grow: 1;
  margin-right: 10px;
}

.input {
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid blue;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input:focus {
  outline: none;
  border-color: #0066cc;
}

.image-container {
  padding: 0 20px;
  background-color: #3d3d3d;
}

/* Cambia el color del ícono a rojo */
.image-container i {
  color: red;
}

.buscar-btn {
  width: 120px;
  height: 60px;
  background-color: blue;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.resultados-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resultado img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.resultado .info {
  flex-grow: 1;
}

.resultado h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.resultado p {
  font-size: 16px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }

  .input-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .buscar-btn {
    width: 100%;
  }
}

